extends layout

block content
	.container
		h1.input-group Login
		br
		.input-group
			span.input-group-addon Username:
			input.form-control(type='text' placeholder='username')
		br
		.input-group
			span.input-group-addon Password:
			input.form-control(type='text' placeholder='password')
		br
		.input-group
			button.form-control.btn.btn-primary Submit